/* =========================
   Navbar Styles
   ========================= */

/* Main Navbar container */
.navbar {
  background: #ffb6c1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navbar brand and navigation links styling */
.nav-link,
.navbar-brand {
  color: #ffffff;
  transition: color 0.3s ease;
}

/* Navbar toggle icon styling */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* =========================
   Hover, Active, and Focus States
   ========================= */

/* Hover and active states for links and brand */
.nav-link:hover,
.nav-link:active,
.nav-link.show,
#search-bar input,
#search-bar input::placeholder,
#search-icon,
.navbar-toggler {
  color: #a971a9 !important;
}

/* Focus state for navigation links and brand */
.nav-link:focus,
.navbar-brand svg:focus {
  color: white !important;
}

/* Visible focus and search bar focus-within state */
.nav-link:focus-visible,
.navbar-brand:focus-visible,
#search-bar:focus-within {
  outline: 2px solid #a971a9 !important;
  color: #a971a9 !important;
  box-shadow: none !important;
}

.navbar-brand:focus-visible .cls-1 {
  fill: #a971a9 !important;
}

/* =========================
   Search Bar Styles
   ========================= */

/* Container for the search bar */
#search-bar {
  width: 263.33px;
}

/* Remove default outline on search bar input focus */
#search-bar input:focus {
  outline: none;
}

.navbar-brand .cls-1 {
  fill: #ffffff !important;
  stroke-width: 0px !important;
  transition: fill 0.3s ease;
}

.navbar-brand:hover .cls-1 {
  fill: #a971a9 !important;
}