.hero-section {
  background: linear-gradient(to bottom, #e6e6fa, #bde0fe);
  width: 100vw;
  padding-top: 96px;
  height: 500px;
}

.hero-section h1,
.hero-section h2,
.card-section h2,
.card-section .spinner-border {
  color: #a971a9;
}
