.modal-header .btn-close {
  --bs-btn-close-opacity: 1;
  --bs-btn-close-hover-opacity: 1;
  --bs-btn-close-focus-shadow: none;
  --bs-btn-close-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffb6c1'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E");
  transition: background-image 0.3s ease-in-out;
}

.modal-header .btn-close:hover {
  --bs-btn-close-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a971a9'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E");
}

.modal-header .btn-close:active {
  outline: none;
}

.modal-content {
  max-width: 800px;
  border-radius: 16px !important;
  width: 90vw !important;
}

.modal-body img {
  width: 100%;
  aspect-ratio: 4 / 3 !important;
}

.modal-footer button {
  background: #ffb6c1;
  transition: background-color 0.3s ease-in-out;
}

.modal-footer button:hover {
  background: #a971a9;
}

/* Override Bootstrap's default modal sizes */
.modal-lg,
.modal-xl,
.modal-md,
.modal-sm {
  max-width: 100%;
  justify-content: center;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .modal-content {
    width: 80vw !important;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .modal-content {
    width: 95vw !important;
  }
}
